_training_audio*
___*
~*
._*
.DS_Store
.ipynb*
AAPB_female_vowel_mfccs_and_deltas
AAPB_male_vowel_mfccs_and_deltas
Fresh_Air_ubm_vowel_mfccs_and_deltas
Terry_Gross_vowel_mfccs_and_deltas
AAPB_female_vowel_mfccs_and_deltas.zip
AAPB_male_vowel_mfccs_and_deltas.zip
Fresh_Air_ubm_vowel_mfccs_and_deltas.zip
Terry_Gross_vowel_mfccs_and_deltas.zip
